
@{
    ViewBag.Title = "error_503";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div style="margin-left:20px;font-size:20px;color:white;">
    <h4>My PPC Pal is currently unavailable</h4> <br />
    we are working to get it resolved ASAP.Please check back later.<br />
    You may contact us at <h4>support@myppcpal.com</h4> if you have any questions. 
    Sorry for any inconvenience.
</div>
