
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_UserAccount.cshtml";
}

<div class="mainContent">
    <div class="mainWrap">
        <div class="container">

            <div class="faq-wrap" id="accordion-col-1">
                <div class="col-md-12">
                    <h2 class="pageTitle">Frequently Asked Questions</h2>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-col-1" href="#collapseOne" class="collapsed" aria-expanded="false"><i class="fa fa-comments-o"></i> 1. Which Amazon Marketplaces do you support?</a></h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">Currently we support Amazon USA, Canada, Mexico, UK and EU. Japan, China and India compatability will be added in early 2017. Sign up today and we will email you once it's ready!</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-col-1" href="#collapseTwo" class="collapsed" aria-expanded="false"><i class="fa fa-comments-o"></i> 2. Do I have to setup the software?</a></h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            Other than a quick sign up its all automatic. Sign up takes less than 5 minutes. After you sign up we automatically get your data in 24 hours or less. Input your main keyword for each product and the landed price
                                            and you're ready to go!
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-col-1" href="#collapseThree" class="collapsed" aria-expanded="false"><i class="fa fa-comments-o"></i> 3. What if I want to know more about the software first?</a></h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">Sign up for a totally FREE no obligation trial and take it for a test drive. You won't want to give this Ferrari back.</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-col-1" href="#collapseFour"><i class="fa fa-comments-o"></i> 4. How many products can I have on my account?</a></h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We currently limit this to 10,000 products so we can keep high performance levels for all our users. We do review &amp; work with users with over 1,000 products on a case by case basis because we want you to have
                                            an optimal experience. <strong>Sign up for a FREE trial and we will be in contact if there is a way for us to optimize your performance.</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-col-1" href="#collapseFive" class="collapsed" aria-expanded="false"><i class="fa fa-comments-o"></i> 5. Why should I get this software?</a></h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="panel-body">
                                            Know your numbers, win the Amazon game. Track your keywords, find great new product ideas, AB Test the most profitable prices. Normally people pay $100 to $200 a month for Sales Data ($60 to $100+), Keyword Tracking
                                            ($50 +), AB testing ($100 +) and Feedback Collection ($20+) but we have industry leading features for only $55 a month. And it's all in one great platform, sign up for a no obligation free trial and take it
                                            for a test ride.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-col-1" href="#collapseSix" class="collapsed" aria-expanded="false"><i class="fa fa-comments-o"></i> 6. What if I want to cancel?</a></h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">Cancel anytime and we will stop charging you at the end of your current billing cycle. If you cancel during the 10 day trial you will not be charged.</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-col-1" href="#collapseSeven" class="collapsed" aria-expanded="false"><i class="fa fa-comments-o"></i> 7. How do I use the software?</a></h4>
                                    </div>
                                    <div id="collapseSeven" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">Every feature has a video and article explaining how to use it to powerfully boost your Amazon FBA business, and if you need any additional help you can contact us.</a></div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-col-1" href="#collapseEight" class="collapsed" aria-expanded="false"><i class="fa fa-comments-o"></i> 8. How often is data updated?</a></h4>
                                    </div>
                                    <div id="collapseEight" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="panel-body">
                                            We get your latest sales data from Amazon every 15 to 30 minutes. Sometimes it takes Amazon a few miunutes to 48 hours to reflect changes you make in Seller Central, as soon as they are processed we instantly show
                                            them.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
