
@{
    ViewBag.Title = "Agreement";
    Layout = "~/Views/Shared/_UserAccount.cshtml";
}
<style>
    .md-box{
        margin:50px 200px;
    }
    .md-box p{
        color:black!important;
        font-size:14px;
    }
    #divchk{
        text-align:center;
    }
    #divchk>span{
        padding-left:5px;
    }
</style>
<div class="md-box">
    <h3 style="text-align:center;font-weight:bold;">User Agreement</h3>
    <p>
        <b>PLEASE READ THIS AGREEMENT CAREFULLY BEFORE USING THIS SERVICE.</b><br /><br />
        <b>
            BY USING THE SERVICE OR CLICKING “AGREE” CUSTOMER IS AGREEING TO BE BOUND BY THIS AGREEMENT. IF YOU ARE AGREEING TO
            THIS AGREEMENT ON BEHALF OF OR FOR THE BENEFIT OF YOUR EMPLOYER, THEN YOU REPRESENT AND WARRANT THAT YOU HAVE
            THE NECESSARY AUTHORITY TO AGREE TO THIS AGREEMENT ON YOUR EMPLOYER’S BEHALF.
        </b>
    </p>
    <p>
        This agreement is between My PPC Pal, LLC, a California limited liability company (<b>MPP</b> and the customer agreeing to these terms (<b>Customer</b>).
    </p>
    <ol type="1">
        <li>
            <p>
                <b>SOFTWARE SERVICE:</b> This agreement provides Customer access to and usage of an Internet based software service as specified on an
                order/invoice (<b>Service</b>).
            </p>
        </li>
        <li>
            <b>USE OF SERVICE:</b>
            <ol type="a">
                <li>
                    <p>
                        <b>Customer Owned Data:</b> All data uploaded by Customer remains the property of Customer, as between MPP and Customer (<b>Customer Data</b>).
                        Customer grants MPP the right to use the Customer Data solely for purposes of performing under this agreement.
                    </p>            
                </li>
                <li>
                    <p>
                        <b>Access and Usage:</b> Customer may allow its contractors to access the Service in compliance with the terms of this agreement, which access
                        must be for the sole benefit of Customer. Customer is responsible for the compliance with this agreement by its contractors.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Customer Responsibilities:</b> Customer (i) must keep its passwords secure and confidential; (ii) is solely responsible for Customer Data and
                        all activity in its account in the Service; (iii) must use commercially reasonable efforts to prevent unauthorized access to its account, and
                        notify MPP promptly of any such unauthorized access; and (iv) may use the Service only in accordance with applicable law.
                    </p>
                </li>
                <li>
                    <p>
                        <b>MPP Support:</b> MPP must provide customer support for the Service under the terms of MPP’s Customer Support Policy (Support) which is
                        located at http://www.myppcpal.com/support).
                    </p>
                </li>
                <li>
                    <p>
                        <b>30-Day Trial Version:</b> If Customer has registered for a trial use of the Service, Customer may access the Service for a 30-day time period
                        (unless extended by MPP in writing).  All Customer Data will be deleted after the trial period, unless Customer converts its account to a paid Service.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>
                    WARRANTY DISCLAIMER. THE SERVICE IS PROVIDED ‘AS IS’ WITHOUT WARRANTY.  MPP DISCLAIMS ALL WARRANTIES, INCLUDING,
                    WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE AND FITNESS FOR A PARTICULAR PURPOSE.
                    WHILE MPP TAKES REASONABLE PHYSICAL, TECHNICAL AND ADMINISTRATIVE MEASURES TO SECURE THE SERVICE, MPP DOES NOT
                    GUARANTEE THAT THE SERVICE CANNOT BE COMPROMISED. CUSTOMER UNDERSTANDS THAT THE SERVICE MAY NOT BE ERROR
                    FREE, AND USE MAY BE INTERRUPTED.
                </b>
            </p>
        </li>
        <li>
            <p>
                <b>PAYMENT:</b>. Customer must pay all fees as specified on the order, but if not specified then within 30 days of receipt of an invoice. Customer is
                responsible for the payment of all sales, use, withholding, VAT and other similar taxes. This agreement contemplates one or more orders for the
                Service, which orders are governed by the terms of this agreement.
            </p>
        </li>
        <li>
            <b>MUTUAL CONFIDENTIALITY:</b>
            <ol type="a">
                <li>
                    <p>
                        <b>Definition of Confidential Information:</b> Confidential Information means all non-public information disclosed by a party (<b>Discloser</b>) to the
                        other party (<b>Recipient</b>), whether orally or in writing, that is designated as confidential or that reasonably should be understood to be
                        confidential given the nature of the information and the circumstances of disclosure (<b>Confidential Information</b>). MPP’s Confidential
                        Information includes without limitation the Service, its user interface design and layout, and pricing information.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Protection of Confidential Information:</b> The Recipient must use the same degree of care that it uses to protect the confidentiality of its
                        own confidential information (but in no event less than reasonable care) not to disclose or use any Confidential Information of the Discloser for
                        any purpose outside the scope of this agreement. The Recipient must make commercially reasonable efforts to limit access to Confidential
                        Information of Discloser to those of its employees and contractors who need such access for purposes consistent with this agreement and
                        who have signed confidentiality agreements with Recipient no less restrictive than the confidentiality terms of this agreement.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Exclusions:</b> Confidential Information excludes information that: (i) is or becomes generally known to the public without breach of any
                        obligation owed to Discloser, (ii) was known to the Recipient prior to its disclosure by the Discloser without breach of any obligation owed
                        to the Discloser, (iii) is received from a third party without breach of any obligation owed to Discloser, or (iv) was independently developed
                        by the Recipient without use or access to the Confidential Information.  The Recipient may disclose Confidential Information to the extent
                        required by law or court order, but will provide Discloser with advance notice to seek a protective order.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <b>MPP PROPERTY:</b>
            <ol type="a">
                <li>
                    <p>
                        <b>Reservation of Rights:</b> The software, workflow processes, user interface, designs, and other technologies provided by MPP as part of the
                        Service are the proprietary property of MPP and its licensors, and all right, title and interest in and to such items, including all associated
                        intellectual property rights, remain only with MPP. Customer may not remove or modify any proprietary marking or restrictive legends in
                        the Service. MPP reserves all rights unless expressly granted in this agreement.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Restrictions:</b> Customer may not (i) sell, resell, rent or lease the Service or use it in a service provider capacity; (ii) use the Service to store
                        or transmit infringing, unsolicited marketing emails, libelous, or otherwise objectionable, unlawful or tortious material, or to store or
                        transmit material in violation of third-party rights; (iii) interfere with or disrupt the integrity or performance of the Service; (iv) attempt to
                        gain unauthorized access to the Service or its related systems or networks; (v) reverse engineer the Service; or (vi) access the Service to
                        build a competitive service or product, or copy any feature, function or graphic for competitive purposes.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Anonymized Data:</b> During and after the term of this agreement, MPP may use and owns all anonymized data within the Service for purposes
                        of enhancing the Service, aggregated statistical analysis, technical support and other business purposes.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <b>TERM AND TERMINATION:</b>
            <ol type="a">
                <li>
                    <p>
                        <b>Term:</b> This agreement continues until all orders have expired or are terminated for material breach under Section 7(b).
                    </p>
                </li>
                <li>
                    <p>
                        <b>Mutual Termination for Material Breach:</b> If either party is in material breach of this agreement, the other party may terminate this
                        agreement at the end of a written 30-day notice/cure period, if the breach has not been cured.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Deletion of Customer Data:</b> Within 90 days of termination of this agreement, MPP will delete all Customer Data from the Service.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Return MPP Property Upon Termination:</b> Upon termination of this agreement for any reason, Customer must pay MPP for any unpaid
                        amounts, and destroy or return all property of MPP. Upon MPP’s request, Customer will confirm in writing its compliance with this
                        destruction or return requirement.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Suspension for Violations of Law:</b> . MPP may temporarily suspend the Service or remove the applicable Customer Data, or both, if it in good
                        faith believes that, as part of using the Service, Customer has violated a law.  MPP will attempt to contact Customer in advance.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Suspension for Non-Payment:</b> MPP may temporarily suspend the Service if Customer is late on any payment due pursuant to an order.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <b>LIABILITY LIMIT:</b>
            <ol type="a">
                <li>
                    <p>
                        <b>EXCLUSION OF INDIRECT DAMAGES:</b> MPP is not liable for any indirect, special, incidental or consequential damages arising out of
                        or related to this agreement (including, without limitation, costs of delay; loss of or unauthorized access to data or information;
                        and lost profits, revenue or anticipated cost savings), even if it knows of the possibility of such damage or loss or if the damage or
                        loss is foreseeable.
                    </p>
                </li>
                <li>
                    <p>
                        <b>TOTAL LIMIT ON LIABILITY:</b> MPP’s total liability arising out of or related to this agreement (whether in contract, tort or otherwise)
                        does not exceed the amount paid by Customer within the month period during which the event that gave rise to the liability took place.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>GOVERNING LAW AND FORUM:</b> This agreement is governed by the laws of the State of California (without regard to conflicts of law principles)
                for any dispute between the parties or relating in any way to the subject matter of this agreement.  Any suit or legal proceeding must be exclusively
                brought in the federal or state courts for Orange County, California, and Customer submits to this personal jurisdiction and venue.  Nothing in
                this agreement prevents either party from seeking injunctive relief in a court of competent jurisdiction. The prevailing party in any litigation is
                entitled to recover its attorneys’ fees and costs from the other party.
            </p>
        </li>
        <li>
            <b>OTHER TERMS:</b>
            <ol type="a">
                <li>
                    <p>
                        <b>Entire Agreement and Changes:</b> This agreement and the order constitute the entire agreement between the parties and supersede any
                        prior or contemporaneous negotiations or agreements, whether oral or written, related to this subject matter.  Customer is not relying on
                        any representation concerning this subject matter, oral or written, not included in this agreement. No representation, promise or inducement
                        not included in this agreement is binding. No modification of this agreement is effective unless both parties sign it, however this agreement
                        may be modified through an online process provided by MPP.  No waiver is effective unless the party waiving the right signs a waiver in writing.
                    </p>
                </li>
                <li>
                    <p>
                        <b>No Assignment:</b> Neither party may assign or transfer this agreement or an order to a third party, except that this agreement with all orders
                        may be assigned, without the consent of the other party, as part of a merger, or sale of substantially all the assets, of a party.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Independent Contractors:</b> The parties are independent contractors with respect to each other.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Enforceability and Force Majeure:</b> If any term of this agreement is invalid or unenforceable, the other terms remain in effect. Except for
                        the payment of monies, neither party is liable for events beyond its reasonable control, including, without limitation force majeure events.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Money Damages Insufficient:</b> Any breach by a party of this agreement or violation of the other party’s intellectual property rights could
                        cause irreparable injury or harm to the other party. The other party may seek a court order to stop any breach or avoid any future breach.
                    </p>
                </li>
                <li>
                    <p>
                        <b>No Additional Terms:</b> MPP rejects additional or conflicting terms of any Customer form-purchasing document.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Order of Precedence:</b> If there is an inconsistency between this agreement and an order/invoice, the order/invoice prevails.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Survival of Terms:</b> Any terms that by their nature survive termination of this agreement for a party to assert its rights and receive the
                        protections of this agreement, will survive (including without limitation, the confidentiality terms). The UN Convention on Contracts for the
                        International Sale of Goods does not apply.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Feedback:</b> If Customer provides feedback or suggestions about the Service, then MPP (and those it allows to use its technology) may use
                        such information without obligation to Customer.
                    </p>
                </li>
            </ol>
        </li>
    </ol>
    <div id="divchk">
        <input type="checkbox" id="chkagreement">
        <span>I agree to all the above terms & conditions</span>
    </div>
    <div style="text-align:center;padding-top:15px;" id="divYes">
        <button type="button" onclick="javascript:Saveagreement();" class="btn btn-block btn-info" style="display:inline-block;width:10%;margin-bottom:5px;">Accept</button>
        <button type="button" id="btncancel" class="btn btn-block btn-info" style="display:inline-block;width:10%;margin:0 0 5px 20px;">Cancel</button>
        <div class="text-danger" id="diverror"></div>
    </div>
</div>
@section Scripts {
<script>
    function Saveagreement(){
        var checked = document.getElementById("chkagreement").checked;
        if (checked) {
            ajax_saveagreement();
        }
        else {
            $('#diverror').text("you must agree terms & conditions");
        }
    }

    function ajax_saveagreement() {
        var _url = '@Url.Action("Agreement", "UserAccount")';
        $.ajax({
            type: "POST",
            url: _url,
            data: JSON.stringify({ isAgreed: 1 }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data, status) {
                if (status == "success") {
                    $('#diverror').text("");
                    window.location.href = "../Main/Dashboard";
                }
            },
            error: function (status) {
                $('#diverror').html("Error! Please contact adminstrator");
            }
        });
    }

    $('#btncancel').on('click', function () {
        window.location.href = "../UserAccount/Logout";
    });
</script>
}