
<table>
    <tr>
        <td colspan="3">Invoice</td>
        <td colspan="2">
           <img src="../Content/images/logo.png" width="100" height="100"   />
        </td>
    </tr>
    <tr>
        <td colspan="2">User Address</td>
        <td>Date</td>
        <td colspan="2">Vendor</td>
    </tr>
    <tr>
        <td colspan="5"></td>
    </tr>
    <tr>
        <td>Desc</td>
        <td>Quartity</td>
        <td>Unit Price</td>
        <td>Tax</td>
        <td>Ammount</td>
    </tr>
    <tr>
        <td colspan="3">Total</td>
        <td colspan="2">$1</td>
    </tr>
    <tr>
        <td>dfkgjpdfjg;dfgpdf</td>

    </tr>
    <tr>
        <td>dfgkdfgjfld</td>
    </tr>

</table>
